@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/modifiers' as *;

.header {
  display: flex;
  max-width: 1276px;
  margin: 0 auto;
  padding: 12px 0px;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  .header__logo-container {
    display: flex;
    gap: 8px;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    .header__logo-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header__logo-title {
      color: $dark;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }
  }
  .header__nav {
    .header__nav-list {
      display: flex;
      gap: 8px;
      .header__nav-item {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .header__nav-link {
          color: $dark;
          padding: 12px 20px;
          border-radius: 12px;
          font-family: Montserrat;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 130%;
          letter-spacing: 0.6px;
          text-transform: uppercase;
        }
      }
    }
  }
}
