@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.header {
  @include flex(center, space-between);
  max-width: 1276px;
  margin: 0 auto;
  padding: 12px 0px;
  gap: 12px;
  .header__logo-container {
    @include flex-center;
    gap: 8px;
    padding: 8px 20px;
    .header__logo-icon {
      @include flex-center;
    }
    .header__logo-title {
      color: $dark;
      @include text-header;
    }
  }
  .header__nav {
    .header__nav-list {
      display: flex;
      gap: 8px;
      .header__nav-item {
        @include flex-center;
        .header__nav-link {
          color: $dark;
          padding: 12px 20px;
          border-radius: 12px;
          @include text-header;
        }
        .link-active {
          background: $primary-10;
          color: $primary;
          cursor: default;
        }
      }
    }
  }
}
