@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.hero {
  @include flex(center, normal, column);

  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
  background: $bg-ball 50% / cover no-repeat, $bg-snow 50% / cover no-repeat, $primary;

  .hero__container {
    @include flex(center, center, column);

    margin: 0 auto;
    max-width: 26.8125rem;
    padding: 3.75rem 0;
    gap: 0.75rem;

    .hero__caption,
    .hero__subcaption {
      @include text-caption;

      color: $white;
      text-align: center;
    }

    .hero__title {
      @include text-header(150%, 0.36rem, 2rem);

      color: $white;
      text-align: center;
    }

    .hero__button {
      @include flex-center;
      @include text-header;

      border-radius: 1.25rem;
      background: $dark;
      padding: 1.25rem 2rem;
      color: $white;
    }
  }
}
