@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.hero {
  width: 100%;
  @include flex(center, normal, column);
  border-radius: 20px 20px 0px 0px;
  background: $bg-ball 50% / cover no-repeat, $bg-snow 50% / cover no-repeat, $primary;
  .hero__container {
    margin: 0 auto;
    @include flex(center, center, column);
    max-width: 429px;
    padding: 60px 0px;
    gap: 12px;
    .hero__caption,
    .hero__subcaption {
      color: $white;
      text-align: center;
      @include text-caption;
    }
    .hero__title {
      color: $white;
      text-align: center;
      @include text-header(150%, 5.76px, 32px);
    }
    .hero__button {
      border-radius: 20px;
      background: $dark;
      @include flex-center;
      padding: 20px 32px;
      color: $white;
      @include text-header;
    }
  }
}
