@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.gift-section {
  width: 100%;
  @include flex(center, normal, column);
  gap: 20px;
  border-radius: 20px;
  background: $bg-garland center top / contain no-repeat, $primary;
  .gift-container {
    @include flex(center, normal, column);
    max-width: 1276px;
    gap: 20px;
    .title-container {
      display: flex;
      max-width: 426px;
      .gift-title {
        color: $white;
        text-align: center;
        @include text-header(150%, 5.76px, 32px);
      }
    }
  }
  .tabs-container {
    display: flex;
    align-items: center;
    gap: 8px;
    .tabs-item {
      .tabs-btn {
        @include flex-center;
        padding: 12px 20px;
        border-radius: 12px;
        background: transparent;
        border: none;
        color: $white;
        @include text-header;
      }
      .active-tab {
        background: $white-20;
      }
    }
  }
}