@use '../../../assets/styles/variables' as *;

.best {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bg-snow 50% / cover no-repeat, $primary;
  .best__container {
    display: flex;
    max-width: 1276px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .best__text-container {
      display: flex;
      max-width: 426px;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      .best__caption {
        color: $white;
        font-family: Allura;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.2px;
      }
      .best__title {
        color: $white;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 152%;
        letter-spacing: 3.84px;
        text-transform: uppercase;
      }
    }
  }
}