@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.best {
  width: 100%;
  @include flex(center, normal, column);
  background: $bg-snow 50% / cover no-repeat, $primary;
  .best__container {
    @include flex(center, normal, column);
    max-width: 1276px;
    width: 100%;
    gap: 20px;
    .cards-container {
      @media screen and (max-width: 1295px) {
        max-width: 800px;
      }
    }
    .best__text-container {
      @include flex(center, normal, column);
      max-width: 426px;
      gap: 12px;
      .best__caption {
        color: $white;
        @include text-caption;
      }
      .best__title {
        color: $white;
        @include text-header(152%, 3.84px, 24px);
      }
    }
  }
}