@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.cta {
  width: 100%;
  @include flex(center, normal, column);
  border-radius: 0px 0px 20px 20px;
  background: $bg-snow 50% / cover no-repeat, $bg-forest 50% / cover no-repeat, $primary;
  .cta__container {
    @include flex(center, normal, column);
    max-width: 1276px;
    padding: 60px 0px;
    border-radius: 20px;
    width: 100%;
    .cta__content {
      @include flex(center, center, column);
      max-width: 426px;
      padding: 60px 0px;
      gap: 20px;
      .cta__title {
        color: $white;
        text-align: center;
        @include text-header(152%, 3.84px, 24px);
      }
      .cta__btn {
        @include flex-center;
        padding: 20px 32px;
        border-radius: 20px;
        background: $dark;
        color: $white;
        @include text-header;
      }
      .cta__timer-container {
        @include flex(center, normal, column);
        gap: 8px;
        .cta__caption {
          color: $white;
          text-align: center;
          @include text-caption;
        }
        .timer {
          display: flex;
          padding: 8px 12px 12px 12px;
          align-items: center;
          border-radius: 20px;
          background: $white-40;
          .timer__item {
            display: flex;
            width: 80px;
            flex-direction: column;
            align-items: center;
            .timer__title {
              color: $white;
              text-align: center;
              @include text-header(152%, 3.84px, 24px);
            }
            .timer__description {
              color: $white;
              text-align: center;
              @include text-header;
            }
          }
        }
      }
    }
  }
}