@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.cards-container {
  @include flex(flex-start, center);
  align-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;
  .card-item {
    .card {
      @include flex(center, normal, column);
      width: 310px;
      height: 342px;
      border-radius: 20px;
      background: $bg-color-white;
      .card__image-container {
        width: 310px;
        height: 230px;
        .card__image {
          width: 310px;
          height: 230px;
        }
      }
      .card__text-container {
        background-color: $white;
        display: flex;
        padding: 20px;
        flex-direction: column;
        gap: 8px;
        flex: 1 0 0;
        width: 100%;
        border-radius: 20px;
        .card__subtitle {
          color: $purple;
          @include text-header;
          &--for-work {
            color: $purple;
          }
          
          &--for-health {
            color: $green;
          }
          
          &--for-harmony {
            color: $pink;
          }
        }
        .card__title {
          overflow: hidden;
          color: $dark;
          text-overflow: ellipsis;
          @include text-header(152%, 1.28px, 16px);
        }
      }
    }
  }
}