@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.footer {
  @include flex(center, normal, column);
  padding: 60px 8px;
  .footer__container {
    @include flex(center, normal, column);
    max-width: 1276px;
    gap: 60px;
    width: 100%;
    .footer__contacts-container {
      @include flex-center;
      gap: 12px;
      border-radius: 60px;
      width: 100%;
      @media screen and (max-width: 1060px) {
        flex-direction: column;
      }
      .contacts-item {
        width: 100%;
        .contact-card {
          @include flex(center, center, column);
          padding: 20px;
          gap: 12px;
          flex: 1 0 0;
          border-radius: 20px;
          background: $bg-color-white;
          .contact-card__icon {
            width: 80px;
            height: 80px;
          }
          .contact-card__link {
            color: $dark;
            text-align: center;
            @include text-header(152%, 3.84px, 24px);
          }
          .contact-card__text {
            color: $dark;
            text-align: center;
            @include text-header(152%, 1.28px, 16px);
          }
        }
      }
    }
    .footer__socials-container {
      @include flex(center, center, column);
      gap: 12px;
      .socials {
        display: flex;
        justify-content: center;
        gap: 12px;
        .social-link-item {
          .social-link {
            @include flex-center;
            padding: 8px;
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .footer__paragraph {
        color: $dark;
        text-align: center;
        @include text-paragraph;
      }
      .footer__caption {
        color: $dark;
        text-align: center;
        @include text-caption;
      }
    }
  }
}