@use '../../assets/styles/variables' as *;
@use '../../assets/styles/modifiers' as *;

.header {
  display: flex;
  max-width: 1276px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  .header__logo-container {
    display: flex;
    gap: 8px;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    .header__logo-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header__logo-title {
      color: $dark;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }
  }
}
