@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $bg-snow 50% / cover no-repeat, $primary;
  .about__container {
    display: flex;
    max-width: 79.75rem;
    width: 100%;
    align-items: center;
    flex: 1 0 0;
    border-radius: 1.25rem;
    background: $white;
    @media screen and (max-width: 670px) {
      flex-direction: column;
      justify-content: center;
    }
    .about__text-container {
      @include flex(flex-start, center, column);
      width: 100%;
      flex: 1 0 0;
      .about__text-block {
        @include flex(flex-start, center, column);
        display: flex;
        max-width: 26.625rem;
        padding: 3.75rem 0rem;
        margin: 0 3.75rem;
        gap: 1.25rem;
        @media screen and (max-width: 670px) {
          margin: 0 1.25rem;
          max-width: 100%;
        }
        .about__caption {
          color: $primary;
          @include text-caption;
        }
        .about__title {
          color: $dark;
          @include text-header(152%, 0.24rem, 1.5rem);
        }
        .about__paragraph {
          color: $dark;
          @include text-paragraph;
        }
      }
    }
    .about__img-container {
      flex: 1 0 0;
      @include flex(center, center, column);
      height: 33rem;
      width: 100%;
      border-radius: 1.25rem;
      background: url('../../../assets/images/santa.avif') 50% / cover no-repeat;
      @media screen and (max-width: 670px) {
        flex: initial;
      }
    }
  }
}