@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $bg-snow 50% / cover no-repeat, $primary;
  .about__container {
    display: flex;
    max-width: 1276px;
    width: 100%;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
    background: $white;
    .about__text-container {
      @include flex(flex-start, center, column);
      width: 100%;
      flex: 1 0 0;
      .about__text-block {
        @include flex(flex-start, center, column);
        display: flex;
        max-width: 426px;
        padding: 60px 0px;
        margin: 0 60px;
        gap: 20px;
        .about__caption {
          color: $primary;
          @include text-caption;
        }
        .about__title {
          color: $dark;
          @include text-header(152%, 3.84px, 24px);
        }
        .about__paragraph {
          color: $dark;
          @include text-paragraph;
        }
      }
    }
    .about__img-container {
      @include flex(center, center, column);
      height: 528px;
      width: 100%;
      flex: 1 0 0;
      border-radius: 20px;
      background: url('../../../assets/images/santa.webp') 50% / cover no-repeat;
    }
  }
}