@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.button-up {
  @include flex-center;
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  border-radius: 6.25rem;
  border: 0.0625rem solid $primary;
  background: $white;
}

.display-none {
  display: none;
}