@use '../../../assets/styles/variables' as *;

.page-404 {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-40;
}

.main-404 {
  min-height: 100%;
  max-width: fit-content;
  justify-content: center;
  gap: 10px;
  padding: 70px;
  font-family: Allura;
  border-radius: 40px;
  background-color: $primary;
  .page-404__title {
    font-size: 150px;
    color: $white;
    @media screen and (max-width: 600px) {
      font-size: 100px;
    }
  }
  .page-404__subtitle {
    font-size: 50px;
    color: $white;
    margin-bottom: 20px;
    @media screen and (max-width: 600px) {
      font-size: 30px;
    }
  }
  .page-404__link {
    font-family: Montserrat;
    color: $white;
    padding: 10px 20px;
    border: 1px solid $white;
    font-size: 20px;
    border-radius: 10px;
    @media screen and (max-width: 600px) {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}