* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

body {
  min-width: 360px;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

li {
  list-style: none;
}

.section {
  padding: 60px 8px;
}