@use './variables' as *;

@media (hover: hover) and (pointer: fine) {
  .header {
    .header__nav {
      .header__nav-list {
        .header__nav-item {
          .header__nav-link {
            &:hover {
              background: $primary-10;
              color: $primary;
            }
          }
        }
      }
    }
  }
  .main-404 {
    .page-404__link {
      &:hover {
        color: $dark;
        border-color: $dark;
      }
    }
  }
}