@use './variables' as *;

@media (hover: hover) and (pointer: fine) {
  .header {
    .header__logo-container {
      &:active {
        outline: 1px dashed $green;
        background: rgba(6, 164, 79, 0.10);
      }
    }
    .header__nav {
      .header__nav-list {
        .header__nav-item {
          .header__nav-link {
            &:hover {
              background: $primary-10;
              color: $primary;
            }
            &:active {
              outline: 1px dashed $green;
              background: rgba(6, 164, 79, 0.10);
              color: $dark;
            }
          }
        }
      }
    }
  }
  .main-404 {
    .page-404__link {
      &:hover {
        color: $dark;
        border-color: $dark;
      }
    }
  }
  .hero {
    .hero__container {
      .hero__button {
        &:hover {
          background: $white;
          color: $dark;
        }
      }
    }
  }
  .best {
    .best__container {
      .best__cards-container {
        .card {
          &:hover {
            .card__text-container {
              .card__title {
                color: $primary
              }
            }
          }
          &:active {
            outline: 1px dashed $green;
            background: rgba(6, 164, 79, 0.10);
          }
        }
      }
    }
  }
  .cta {
    .cta__container {
      .cta__content {
        .cta__btn {
          &:hover {
            background: $white;
            color: $dark;
          }
        }
      }
    }
  }
  .slider {
    .slider__container {
      .slider__navigation {
        .slider__button {
          &:hover {
            &:not([disabled]) {
              background-color: $white;
              .slider__icon {
                svg {
                  path {
                    stroke: $primary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}