@mixin flex($align-items, $justify-content: normal, $flex-direction: row, $display: flex) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-header($line-height: 130%, $letter-spacing: 0.6px, $size: 12px, $font-family: Montserrat, $font-style: normal, $weight: 600, $transform: uppercase) {
  font-family: $font-family;
  font-size: $size;
  font-style: $font-style;
  font-weight: $weight;
  text-transform: $transform;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin text-caption($line-height: 100%, $letter-spacing: 1.2px, $font-family: Allura, $size: 24px, $font-style: normal, $weight: 400) {
  font-family: $font-family;
  font-size: $size;
  font-style: $font-style;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin text-paragraph($line-height: 148%, $font-family: Montserrat, $size: 16px, $font-style: normal, $weight: 400) {
  font-family: $font-family;
  font-size: $size;
  font-style: $font-style;
  font-weight: $weight;
  line-height: $line-height;
}