$dark: #181C29;
$primary: #FF4646;
$primary-10: rgba(255, 70, 70, 0.10);
$white: #ffffff;
$white-20: rgba(255, 255, 255, 0.20);
$white-40: rgba(255, 255, 255, 0.40);
$purple: #4361FF;
$pink: #FF43F7;
$green: #06A44F;
$background-color: #ECF3F8;

$background-ball: url('../../../assets/images/bg-ball.webp');
$background-snow: url('../../../assets/images/bg-snow.webp');
$background-forest: url('../../../assets/images/bg-forest.webp');