@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.slider {
  @include flex(center, normal, column);
  background: $bg-snow 50% / cover no-repeat, $primary;
  width: 100%;
  overflow: hidden;
  .slider__container {
    @include flex(center, normal, column);
    max-width: 1276px;
    width: 100%;
    gap: 20px;
    .slider__text-container {
      @include flex(center, normal, column);
      max-width: 426px;
      gap: 12px;
      .slider__caption {
        color: $white;
        @include text-caption;
      }
      .slider__title {
        color: $white;
        @include text-header(152%, 3.84px, 24px);
      }
    }
    .sliders {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      .slider__text {
        color: $white;
        text-align: center;
        @include text-header(normal, normal, 80px);
      }
      .slider__image-container {
        @include flex-center;
        width: 200px;
        height: 200px;
        .slider__image {
          width: 200px;
          height: 200px;
          border-radius: 20px;
        }
      }
    }
    .slider__navigation {
      @include flex(center, flex-end);
      gap: 20px;
      width: 100%;
      .slider__button {
        background: transparent;
        @include flex-center;
        width: 56px;
        height: 56px;
        border-radius: 20px;
        border: 1px solid $white;
        &:disabled {
          border-color: $white-40;
        }
        svg {
          width: 24px;
          height: 24px;
        }
        .inactive-arrow {
          opacity: 0.4;
        }
      }
    }
  }
}